# Python
backend/staticfiles/
media/
__pycache__/
*.py[cod]
*.pyo
*.pyd
# *.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/

# Django
*.pot
*.pyc
*.mo
*.db
# *.sqlite3
/staticfiles/
/media/
*.coverage
*.egg-info/
.idea/
.vscode/
*.DS_Store

# Environment files
.env